/* -----------------Small CSS------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    /* background-image: url(../images/background/salt-lake-temple.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    backdrop-filter:blur(10px) */
}

/* ------------------------Logo , Social Media, Menu Button-------------------------- */
.logo-social-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    min-width: 100%;
    background-color: rgb(6, 65, 28);
    margin-right: 15px;
}

.logo {
    width: 25%;
    border: 2px solid white;
    border-radius: 10px;
}

.fab {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

button#nav-btn {
    border: 2px solid white;
    background: transparent;
    color: white;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.social-nav-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* -------------Site Name---------- */
.site-name-container {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
}

.site-name {
    text-align: center;
    font-size: 1.5rem;
}