/* -----------------Small CSS------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

/* ------------------------Logo , Social Media, Menu Button-------------------------- */
.logo-social-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    min-width: 100%;
    background-color: rgb(6, 65, 28);
    margin-right: 15px;
}

.logo {
    width: 25%;
    border: 2px solid white;
    border-radius: 10px;
}

.fab {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

button#nav-btn {
    border: 2px solid white;
    background: transparent;
    color: white;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.social-nav-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* -------------Site Name---------- */
.site-name-container {
    background-color: rgba(209, 204, 204, 0.9);
    padding: 10px;
}

.site-name {
    text-align: center;
    font-size: 1.5rem;
}

/* ------- Main Navigation (Menu) ------ */
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding: .6rem 1.5vw;
    border-top: 1px solid rgba(0,0,0,0.3);
    transition: all 0.2s ease-out;
}

nav ul li a:hover {
    background-color: rgb(60, 110, 79);
}

nav ul li {
    list-style: none;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav {
    background-color: rgb(6, 65, 28);
}